.DS_Store

.idea/shelf

.idea/tasks.xml

.idea/workspace.xml

build/test-results
build/WebWorldWind-Distribution-1.0.0.zip
build/dist/api-doc
build/dist/examples

nasaworldwind-worldwind-*.tgz

node_modules/

npm-debug.log
